node_modules/
.env
dist/
.DS_Store
/backend/node_modules/
/backend/dist/
/backend/.env
/backend/database/*.sqlite
/backend/database/*.sqlite-journal
/backend/database/*.sqlite-shm
/backend/database/*.sqlite-wal
/backend/database/*.db
/backend/database/*.db-journal
/backend/database/*.db-shm
/backend/database/*.db-wal